vsphere_endpoint    = "vcenter@vsphere.local"
vsphere_username    = "administrator@vsphere.local"
vsphere_password    = "passw0rd!"
vsphere_datacenter  = "Datacenter1"
vsphere_cluster     = "HA-Cluster"
vsphere_datastore   = "datastore1"
vsphere_network     = "DPortGroup-Main"
windows_iso_path    = "ISO/SW_DVD9_Win_Pro_11_24H2.6_64BIT_German_Pro_Ent_EDU_N_MLF_X24-01691.ISO"
vmtools_iso_path    = "ISO/vmtools/VMware-Tools-windows-12.5.2-24697584/windows.iso"